.box-colors {
    border-radius: 5px;
    width: 180px;
    height: auto;
    background-color: rgb(223, 211, 198);
    padding: 10px;
}

input[type="radio"] {
    display: none;
}

.radio-container {
    display: flex;
}

.fake-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 2px rgb(0 0 0 /70%);
}