.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
img{
    height:auto;
    width: 100%;
}

h3{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.card-text{
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.carousel-item{
    height: 520px;
    align-items: center;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: flex !important;
}

.fa-arrow-circle-left:before, .fa-arrow-circle-right {
    font-size: xxx-large;
    color: tomato;}

.pointer{
    cursor: pointer;
}
.imagen{
    padding-right: 40px;
}
.containerCarrusel{
    margin-top:20px;
}
@media (max-width: 576px){ 
    .containerCarrusel{
        position: relative;
        top:30px;
        
    }
    .pasos{
        padding: 5px 5px 5px 0; 
    }
    .imagen{
        margin: 0;
    }
    .card-text{
        margin-top: 15px;
    }
    .custom-btn{
        padding: 7px 10px;
    }
    #root{
        height: 100%;
    }
}
    
