.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
img{
    height:400px;
}

h3{
    margin-top: 10px;
}

p{
    text-align: center;
    margin-top: 20px;
}