* {
  border: 1px dashed red;
  min-height: 10px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: #342aa3;
  justify-content: space-around;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.item2 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
.fotoTestimonio {
    border-radius: 50%;
}

#arbol {
  max-width: 100%;
}
#rideimg {
  max-width: 100%;
}
#logoSerenity {
  max-width: 100%;
}
.boton {
  min-width: 230px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: center;
  outline: none;
  border-radius: 20px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}

.boton:hover {
  background-position: right center;
}
.boton:active {
  top: 2px;
}
.secNav {
  color: white;
  z-index: 10;
  position: fixed;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 90%);
  justify-content: center;
}
