#root{
  width: 100vw;
}

body{
  padding-bottom: 30px;
  height: 100vh;

}


section{
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

#portada {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  padding: 48px;
  width: 100%;
}
.textoPortada {
  padding-top: 40px;
  color: rgb(68, 61, 61);
  font-size: 25px;
  text-align: center;
}
.textoPortada .bienvenida{
  font-size: 50px;
  animation: moverDerecha 1s ease-in;
}
.textoPortada .subtitulo{
  font-size: 23px;
  font-weight: bold;
  animation: moverIzquierda 1s ease-in;
}
.textoPortada .parrafo{
  font-size: 20px;
  font-weight: bold;
  animation: moverDerecha 1s ease-in;
}
.textoPortada .btn_perfil{
  animation: moverArriba 1s ease-in;
}
.arbol{
  animation: moverArriba 1s ease-in;
}

.panicButton {
  min-width: 230px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: center;
  outline: none;
  border-radius: 20px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}
.panicButton .nav-link{
  color: #fff;
}
.panicButton:hover {
  background-position: right center;
}
.panicButton:active {
  top: 2px;
}

.wave{
  height: 100px;
  width: 100%;
 
}
#descripcion{
  background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#descripcion img {
  animation: moverIzquierda 1s ease-in;
}
#descripcion h1 {
  color: black;
  animation: moverDerecha 1s ease-in;
}
#descripcion p {
  text-align: justify;
  color: black;
  animation: moverArriba 1s ease-in;
}


#testimonios {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

#testimonios img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* Contact Section */
#redesSociales{
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  padding-top: 40px;
}
.serenity{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.rrss{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#logoGrande {
  width: 250px;
  height: 250px;
}
.social-icons {
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.fab {
  margin-left: 15px;
}
.fab:hover {
  color: black;
}

@media (max-width: 768px){
  
  .textoPortada {
    
      text-align: center;
      align-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .panicButton{
      margin-bottom: 20px;
  }
  #descripcion{
      text-align: center;
      align-content: center;
      padding-right: 0;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  cursor: pointer;
}

.titledraw {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}
@keyframes moverIzquierda{
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@keyframes moverDerecha{
  0%{
      opacity: 0;
      transform: translateX(100px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}
@keyframes moverArriba{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}