

input[type="radio"]:checked + label{
    position: relative;
    
}

input[type="radio"]:checked + label::after {
    content:"✔";
    z-index: 99;
    color:green;
    position: absolute;
    right: -25px;
} 