.btn_perfil{
    padding: 0;
    font-weight: 400;
}
.logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.username-nav{
    display: inline-flex;
    align-items: center;
}

@media (max-width: 575.98px){
    .left-side{
        display:flex
    }
    .username-nav{
        display:none;
    }
}

.nav-principal{
    border-bottom: 2px solid #65CBF8;
}